<!-- Site Header
================================================== -->
<header id="header" class="site_header_image cover-bg" data-image-src="/assets/img/header-image1.jpg">
    <div class="container">
        <div class="post-categories">
            <a>WELCOME TO</a>
        </div>
        <h1>Arctos knits</h1>
        <div class="post-subtitle-container">
            <div class="post-author">{{ posts.length }} posts</div>
        </div>
    </div>
</header>
<!-- End Site Header
================================================== -->